<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"/>
		<title>MBTI Visualizer</title>
		<link rel="stylesheet" href="assets/css/main.css"/>
	</head>
	<body id="page-grid" ng-app="myApp" ng-controller="myCtrl">

		<header id="page-header">
			<h1>MBTI Visualizer</h1>
		</header>

		<header id="overview-banner">
			<h2>Overview</h2>
		</header>

		<div id="preferences-overview">
			<div class="hflex bordered">
				<div>
					<h3>I</h3>
				</div>

				<div>
					<h3>E</h3>
				</div>
			</div>

			<div class="hflex bordered">
				<div>
					<h3>S</h3>
				</div>

				<div>
					<h3>N</h3>
				</div>
			</div>


			<div class="hflex bordered">
				<div>
					<h3>T</h3>
				</div>

				<div>
					<h3>F</h3>
				</div>
			</div>

			<div class="hflex bordered">
				<div>
					<h3>J</h3>
				</div>

				<div>
					<h3>P</h3>
				</div>
			</div>
		</div>

		<div id="functions-overview">
			<p class="center">Primary: <span class="selected-primary">&nbsp;&nbsp;&nbsp;&nbsp;</span></p>
			<p class="center">Secondary: <span class="selected-secondary">&nbsp;&nbsp;&nbsp;&nbsp;</span></p>
			<div class="hflex">
				<div class="hflex bordered">
					<div id="function-Si" ng-click="makeSelection($event)">
						<h3>S(i)</h3>
					</div>

					<div id="function-Se" ng-click="makeSelection($event)">
						<h3>S(e)</h3>
					</div>
				</div>

				<div class="hflex bordered">
					<div id="function-Ni" ng-click="makeSelection($event)">
						<h3>N(i)</h3>
					</div>

					<div id="function-Ne" ng-click="makeSelection($event)">
						<h3>N(e)</h3>
					</div>
				</div>
			</div>

			<div class="hflex">

				<div class="hflex bordered">
					<div id="function-Ti" ng-click="makeSelection($event)">
						<h3>T(i)</h3>
					</div>

					<div id="function-Te" ng-click="makeSelection($event)">
						<h3>T(e)</h3>
					</div>
				</div>

				<div class="hflex bordered">
					<div id="function-Fi" ng-click="makeSelection($event)">
						<h3>F(i)</h3>
					</div>

					<div id="function-Fe" ng-click="makeSelection($event)">
						<h3>F(e)</h3>
					</div>
				</div>
			</div>

		</div>

		<div id="ordering-overview">
			<ol>
				<!-- track by $index used to circumvent duplication error -->
				<li class="function-list-item" ng-repeat="item in functions track by $index">
					<p>{{ item }}</p>
				</li>
			</ol>
		</div>

		</section>

		<header id="cognitive-preferences-banner">
			<h2>Cognitive Preferences</h2>
		</header>

		<div id="preference-help-{{ preference.abbreviation }}" class="preference-card" ng-repeat="preference in data.cognitivePreferences">
			<h2>{{ preference.name }} - ({{ preference.abbreviation }})</h2>
			<ul>
				<li ng-repeat="trait in preference.traits">
					<p>{{ trait }}</p>
				</li>
			</ul>
		</div>

		<header id="cognitive-functions-banner">
			<h2>Cognitive Functions</h2>
		</header>

		<div id="function-help-{{ function.abbreviationClean }}" class="function-card" ng-repeat="function in data.cognitiveFunctions" ng-click="makeSelection($event)">
			<h2>{{ function.name }} - {{ function.abbreviation }}</h2>
			<ul>
				<!-- <li><p>{{ function.preferences }}</p></li> -->
				<li><p>{{ function["primary-roles"] }}</p></li>
				<!-- <li><p>{{ function["most-prominent-in"] }}</p></li> -->
				<li><p>{{ function["associated-with"] }}</p></li>
				<!-- <li><p>{{ function["famous-examples"] }}</p></li> -->
			</ul>
		</div>

		<!-- <section id="page-ordering">
		</section>

		<section id="page-help">
		</section> -->

		<footer id="page-footer">
			<p>&copy; 2019 Christian Farmer, All Rights Reserved</p>
		</footer>

		<script type="text/javascript" src="assets/js/jquery-3.3.1.min.js"></script>
		<script type="text/javascript" src="assets/js/angular-1.7.8.min.js"></script>
		<script type="text/javascript" src="assets/js/main.js"></script>

	</body>
</html>
