
* {
	box-sizing: border-box;
	margin: 0px 0px;
	padding: 0px 0px;
}

html {
	/* em = start, vw = scaling speed */
	font-size: calc(0.8em + 1vw);
}

body {
	background-color: #666666;
	font-family: Arial, Helvetica, sans-serif;
}

section > header {
	border: 2px solid #000000;
	/* border-radius: 5px; */
	background-color: #777777;
}

h1, h2, h3 {
	padding: 5px 10px;
	text-align: center;
}

table {
	margin: auto;
}

button { 
	/* The non-input button */
	font-family: inherit;
	font-size: inherit;
}

input {
	font-family: inherit;
	font-size: inherit;
}

input[type="radio"], input[type="checkbox"] {
	margin: 8px 5px;
	text-align: center;
}

input[type="text"] {
	margin: 5px 5px;
	padding: 5px 5px;
}

#page-header { grid-area: header; }

#overview-banner { grid-area: oBanner; }
#preferences-overview { grid-area: pOverview; }
#functions-overview { grid-area: fOverview; }
#ordering-overview { grid-area: oOverview; }

#cognitive-preferences-banner { grid-area: cpBanner; }
#preference-help-I { grid-area: I; }
#preference-help-E { grid-area: E; }
#preference-help-S { grid-area: S; }
#preference-help-N { grid-area: N; }
#preference-help-T { grid-area: T; }
#preference-help-F { grid-area: F; }
#preference-help-J { grid-area: J; }
#preference-help-P { grid-area: P; }


#cognitive-functions-banner { grid-area: cfBanner; }
#function-help-SJ { grid-area: SJ; }
#function-help-SP { grid-area: SP; }
#function-help-NJ { grid-area: NJ; }
#function-help-NP { grid-area: NP; }
#function-help-TP { grid-area: TP; }
#function-help-TJ { grid-area: TJ; }
#function-help-FP { grid-area: FP; }
#function-help-FJ { grid-area: FJ; }

/* 
#page-ordering { grid-area: ordering; }
#page-help { grid-area: help; }
*/

#page-footer { grid-area: footer; }

#page-grid {
	padding: 5px;
	display: grid;
	grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto;
	grid-template-columns: auto auto auto auto;
	grid-template-areas:
		'header header header header'
		'oBanner oBanner oBanner oBanner'
		'pOverview fOverview fOverview oOverview'
		'cpBanner cpBanner cpBanner cpBanner'
		'I I E E'
		'S S N N'
		'T T F F'
		'J J P P'
		'cfBanner cfBanner cfBanner cfBanner'
		'SJ SP NJ NP'
		'TP TJ FP FJ'
		'footer footer footer footer';
}

/* #page-grid {
	display: grid;
	grid-template-rows: auto auto;
	grid-template-columns: auto;
	grid-template-areas:
		'header'
		'footer';
} */

#help-tables-container {
	display: none;
	text-align: center;
}

.help-table {
	margin-top: 10px;
	width: 70%;
	border-collapse: collapse;
}

.help-table td, .help-table th {
	font-size: calc(0.5em + 1vw);
	border: 2px solid #000000;
	padding: 0.25em;
	text-align: center;
}

#page-help {
	text-align: center;
}

#page-footer {
	padding-top: 20px;
	text-align: center;
	font-size: small;
}

.section-body {
	padding: 7px;
}

.hflex {
	padding: 10px;
	display: flex;
	flex-flow: row wrap; /* row/column, wrap/nowrap */
	justify-content: center; 
	align-items: top;
	align-content: center;
}

.bordered {
	border: 2px solid #000000;
	border-radius: 4px;
}

.preference-card {
	/* max-width: 450px; */
	border: 2px solid #000000;
	border-radius: 4px;
    transition: 0.3s;
	background-color: #888888;
}

.preference-card:hover {
	/* background-color: #00cc00; */
	cursor: pointer;
}

.function-card {
	/*max-width: 300px;*/
	border: 2px solid #000000;
	border-radius: 4px;
    transition: 0.3s;
	background-color: #888888;
}

.function-card:hover {
	/* background-color: #00cc00; */
	cursor: pointer;
}

.selected-primary {
	background-color: #00ffff;
}

.selected-secondary {
	background-color: #00ff00;
}

.center {
	text-align: center;
}

li {
	margin-top: 10px;
	margin-left: 35px;
}

.function-list-item {
	min-height: 1em;
}

@media only screen and (min-width: 853px) {

	/* #page-grid {
		padding: 5px;
		display: grid;
		grid-template-rows: auto auto auto auto auto auto;
		grid-template-columns: auto auto auto auto;
		grid-template-areas:
			'header' 'header' 'header' 'header',
			'I' 'I' 'E' 'E',
			'S' 'S' 'N' 'N',
			'T' 'T' 'F' 'F',
			'J' 'J' 'P' 'P',
			'footer' 'footer' 'footer' 'footer';
	} */

	/*.section-body {
		border: 2px solid #000000;
		border-top: 0;
	}*/

}

